@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* global */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: all 0.2s ease;
}

:root {
  --primary-color: #bb2525;
  --light-color: #f8f8f8;
  --white-color: #ffffff;
  --black-color: #424242;
  --grey-color: #656565;
}

/* start header navbar*/
header {
  background-color: var(--white-color);
}

nav {
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 96px;
}

nav .brand {
  display: inherit;
  align-items: center;
}
nav .brand img {
  height: 28px;
}
nav .navbar {
  display: inherit;
}

nav .navbar li {
  height: 64px;
  width: min-content;
  display: inherit;
  justify-content: center;
  align-items: center;
}

.burger-menu {
  display: none;
}

.burger-nav {
  display: none;
  width: 100%;
  background-color: var(--light-color);
}

.burger-nav li {
  height: 64px;
  width: 100%;
  display: inherit;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav .navbar li a,
.burger-nav li a {
  color: var(--black-color);
  text-decoration: none;
  font-weight: 400;
  padding: 6px 24px;
}

nav .navbar li a:active,
nav .navbar li a:hover,
.burger-nav li a:active {
  font-weight: 600;
  color: var(--primary-color);
}

.slide-down {
  animation-name: slideDown;
  animation-duration: 0.7s;
}

@keyframes slideDown {
  from {
    height: 0;
  }

  to {
    height: 256px;
  }
}

/* end header navbar */

/* main */
main section {
  padding: 48px 96px;
  background-color: var(--light-color);
}
section h1 {
  text-align: center;
  color: var(--black-color);
  margin-bottom: 23px;
  font-size: 48px;
}
/* home */
.home {
  padding: 0 96px;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--white-color);
}
.home .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.home .left h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.5em;
  color: var(--black-color);
}
.home .left span {
  color: var(--primary-color);
  font-size: 96px;
  font-weight: 800;
  text-decoration: underline;
}
.home .left p {
  color: var(--black-color);
  font-size: 18px;
}
.home .right {
  display: flex;
  justify-content: center;
  align-items: end;
}
.home .right img {
  width: 450px;
}

/* about */
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 96px;
  background-color: var(--light-color);
}
.about .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: var(--black-color);
}
.about .item .icon {
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 24px;
  width: 48px;
  height: 48px;
}
.about .item .icon img {
  width: 48px;
}
.about .item p {
  text-align: justify;
}

/* experience */
.experience {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.experience .item-container {
  display: inherit;
  flex-direction: column;
  gap: 12px;
color: var(--black-color);
}
.experience .item-container .item {
  display: grid;
  grid-template-columns: 0.1fr 0.6fr 1fr;
  gap: 96px;
}
.experience .item-container .item p {
    font-size: 18px;
    font-weight:600;
}

/* education */
.education {
  position: relative;
}

.education .item-container {
  margin: 48px 0;
  position: relative;
  width: 50%;
}
.education .item-container.left {
  text-align: end;
}
.education .item-container.right {
  left: 50%;
}
.education .item-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: var(--primary-color);
  top: 6px;
  right: -12px;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(252, 114, 114, 0.5);
}
.education .item-container.right::after {
  left: -12px;
}

.education .content {
    padding: 0 32px;
  position: relative;
  color: var(--black-color);
}

.education .content > * {
  margin: 6px 0;
}

/* skills */
.skills .item-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 48px;
}
.skills .item-container .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    color: var(--black-color);
    background-color: var(--white-color);
    box-shadow: 0 0 12px rgba(167, 167, 167, 0.1);
    border-radius: 12px;
    padding: 48px;
}
.skills .item-container .item:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 0 0 12px rgba(252, 114, 114, 0.5);
}
.skills .item-container .item p {
    font-size: 20px;
    font-weight: 600;
}

/* responsive */
/* medium */
@media screen and (max-width: 1024px) {
  /* header */
  nav {
    padding: 24px 48px;
  }

  nav .navbar {
    display: none;
  }

  nav .burger-menu {
    display: flex;
    width: auto;
  }
}

/* small */
@media screen and (max-width: 640px) {
  /* header */
  nav {
    padding: 18px 18px;
  }

  nav .navbar {
    display: none;
  }

  nav .burger-menu {
    display: flex;
    width: auto;
  }
}
